<div class="card mb-4">
  <div class="card-body">

    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6><%=@categoria.nombre%></h6>
      </div>
      <div class="card-body">
      <div class="row">
      <div class="col-2">
              <div class="media justify-content-center">
            <%= image_tag(valid_image_url?(@categoria.imageurl) ? @categoria.imageurl : 'no-image.png', alt: 'img', class: 'brand-image', width: 42, height: 42) %>
        </div>
      </div>
      <div class="col-10">
            <p>Descripción: <%= @categoria.descripcion %></p>
            <p>Fecha de creación: <%= @categoria.created_at %></p>
            <p>Última Modificación: <%= @categoria.updated_at %></p>
      </div>

      </div>

        <div>
            <%=link_to "Regresar", categories_path, class: 'btn btn-success btn-xs' %>
            <%= link_to 'Editar', edit_category_path(@categoria.id), class: 'btn btn-link'%>
            <%= link_to 'Eliminar', category_path(@categoria.id), data: { 
                turbo_method: :delete, 
                turbo_confirm: 'Esta seguro de eliminar?' 
            }, class: 'btn btn-link'%>

        </div>

      </div>
    </div>
  </div>
</div>

